@{
    ViewData["Title"] = "Delete an Expense";
}
@model IEnumerable<FinanceApp.Models.Expense>

<div class="container">
    <h2 class="text-center">Remove an Expense</h2>

	<table class="table table-bordered">
		<tbody>
			@foreach (var expense in Model)
			{
				<tr>
					<td>@expense.Description</td>
					<td>$@expense.Amount</td>
					<td>@expense.Category</td>
					<td>@expense.Date.ToString("yyyy-MM-dd")</td>
					<td>
						<a asp-action="DeleteExpense" asp-route-id="@expense.Id">Delete</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>